body {
  background-image: url(bg1.gif);
  background-size: cover;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}

p {
  color: gray;
  font-size: 35px;
  text-align: center;
}

a {
  color: lightgray;
  font-size: 40px;
  padding: 5px;
}

a:link {
  text-decoration:none;
}

a:hover {
  color: white;
}

img {
  width: 700px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  position: relative;
}
